
<div class="box box-element ui-draggable">
  <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> remove</a>
  <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> drag</span>
   <span class="configuration">
       <span class="btn-group btn-group-xs">
         <button type="button" class="btn btn-default dropdown-toggle edit-button" title="Edit" onclick="openEditablePopup($(this).closest('.box-element'))">Edit</button>
       </span>
    </span>
  <a href="#" class="preview">Auto Play Video</a>
  <div class="view change-class">
    <div align="center" class="embed-responsive embed-responsive-16by9">
      <video loop class="video-flash-player embed-responsive-item">
        <source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>
      </video>
    </div>
  </div>
</div>
<div class="box box-element ui-draggable">
  <a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> remove</a>
  <span class="drag label label-default"><i class="glyphicon glyphicon-move"></i> drag</span>
   <span class="configuration">
       <span class="btn-group btn-group-xs">
         <button type="button" class="btn btn-default dropdown-toggle edit-button" title="Edit" onclick="openEditablePopup($(this).closest('.box-element'))">Edit</button>
       </span>
    </span>
  <a href="#" class="preview">Flow Player Video</a>
  <div class="view change-class">
    <div align="center" class="embed-responsive embed-responsive-16by9">
      <div id="video" ><video class="video-flash-player" autoplay align="center" poster="splash-screen.jpg" controls="controls">
        <source src="http://www.w3schools.com/tags/movie.mp4" type="video/mp4" />
        <source src="http://chaosm.net/html5/ex33_html5_video/media/big_buck_bunny.webmsd.webm" type="video/webm" />
        <source src="http://chaosm.net/html5/ex33_html5_video/media/big_buck_bunny.oggtheora.ogv" type="video/ogg" />
        <div class="flash-player" data-ratio="0.4166666666666667"
             data-qualities="160p,260p,530p,800p"
             data-default-quality="260p" style="width: 100px; height: 100px; display: block;"></div>
      </video></div>
     </div>
  </div>
</div>
<%= render "welcome/jw_player_component"%>