<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Campaign Engine</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link href="/grid.css" rel="stylesheet">


  <link rel="stylesheet" href="//releases.flowplayer.org/6.0.3/skin/minimalist.css">

  <!-- Include lines below to support multiple resolutions via quality selector plugin -->
  <link rel="stylesheet" href="//flowplayer.org/drive/quality-selector.css">


  <!-- Latest compiled and minified JavaScript -->
  <!-- Custom styles for this template -->



  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>

  <![endif]-->

  </head>
  <body style="padding-top: 20px;padding-bottom: 20px;">
<div  class="container">

 <%= @page_content %>

</div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//releases.flowplayer.org/6.0.3/flowplayer.min.js"></script>
<script src="//flowplayer.org/drive/quality-selector-v6.js"></script>
<script src="http://releases.flowplayer.org/js/flowplayer-3.2.13.min.js"></script>
<script src="//releases.flowplayer.org/hlsjs/flowplayer.hlsjs.min.js"></script>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <!-- This is for Google Maps integration, you can safely remove if not using Google Maps -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


  </body>
</html>
