<div class="page-header">
  <div class="row">
    <div class="col-md-7">
      <h2>Showing Affiliate</h2>

    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label" for="contact_name">
          Name
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control col-md-12" value="Don Draper" readonly="">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="contact_notes">Notes</label>
        <div class="col-sm-9">
          <input type="text" class="form-control col-md-12" value="Advertising man." readonly="">
        </div>
      </div>

      <div class="row">
        <div class="col-md-9 col-md-offset-3">
          <a class="btn btn-primary" href="004_rails_integration@fa-diamond%252F001_scaffolding%252F004_show.html#"><i class="fa fa-pencil"></i> Edit</a>
          <a class="btn" href="004_rails_integration@fa-diamond%252F001_scaffolding%252F004_show.html#">Back</a>
        </div>
      </div>

    </div>
  </div>
</div>